body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.placeholder-black::placeholder {
  color: black;
}

.inputclass {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5.288px 11.876px 40px 0 rgb(0 0 0 / 5%);
  height: 55px;
  border: none;
  line-height: 68px;
  width: 100%;
  padding-right: 30px;
  color: #666;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 300;
  margin-top: 15px;
}

.fileclass {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5.288px 11.876px 40px 0 rgb(0 0 0 / 5%);
  height: 55px;
  border: none;
  line-height: 40px;
  width: 100%;
  padding-right: 30px;
  color: #666;
  font-size: 16px;
  padding-left: 5px;
  margin-top: 15px;
}

.selectclass {
  border-radius: 5px;
  background-color: #fff;
  border: none;
  line-height: 42px;
  width: 100%;
  color: #666;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
}

/* styles.css */
.list-container {
  display: flex;
}

.left-side,
.right-side {
  flex: 1;
  /* padding: 20px; */
}

ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
  max-height: 300px; /* Set the maximum height for the list */
  overflow-y: auto; 
}

li {
  margin: 10px;
  padding: 7px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.lielement {
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  float: right;
  border-radius: 4px;
  /* padding: 5px 10px; */
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.selected-li {
  /* Add your custom styles for the selected <li> here */
  background-color: #f0f0f0; /* Change the background color */
  font-weight: bold; /* Add any other styles you want */
  /* You can customize this class further */
}

